.container{
  font-size: 25px;
  height: 100vh;
  margin: 0;
  background-image: url('../images/background.jpg');
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}