.middleContainer {
    height: 100vh;
    width: 100vw;
    background-size: cover;
    background-position: center;
}
.innerContainer {
    height: 100vh;
    width: 100vw;
    background: rgba(30,30,30,0.85);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.strategiButton {
    width: 30%;
    height: 20%;
    background: #FF6A11;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-box-shadow: 0px 0px 28px 14px rgba(0,0,0,0.57);
    -moz-box-shadow: 0px 0px 28px 14px rgba(0,0,0,0.57);
    box-shadow: 0px 0px 28px 14px rgba(0,0,0,0.57);
    text-decoration-line: none;
    transition: 0.25s ease;
}
.setupButton {
    width: 30%;
    height: 20%;
    background: #0C0DAD;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-box-shadow: 0px 0px 28px 14px rgba(0,0,0,0.57);
    -moz-box-shadow: 0px 0px 28px 14px rgba(0,0,0,0.57);
    box-shadow: 0px 0px 28px 14px rgba(0,0,0,0.57);
    text-decoration-line: none;
    transition: 0.25s ease;
}

.buttonText {
    font-size: 40px;
    color: #eee;
    text-decoration-line: none;
    padding: 20px 10px;
    border-top: 8px solid #fff;
    border-bottom: 8px solid #fff;
    transition: 0.25s ease;
    border-right: 8px solid transparent;
    border-left: 8px solid transparent;
}

.buttonText:hover {
    border-right: 8px solid #fff;
    border-left: 8px solid #fff;
    border-top: 8px solid #fff;
    border-bottom: 8px solid #fff;
    border-radius: 15px;
}

.strategiButton:hover {
    margin-top: 3px;
    -webkit-box-shadow: 0px 0px 14px 10px rgba(0,0,0,0.57);
    -moz-box-shadow: 0px 0px 14px 10px rgba(0,0,0,0.57);
}

.setupButton:hover {
    margin-top: 3px;
    -webkit-box-shadow: 0px 0px 14px 10px rgba(0,0,0,0.57);
    -moz-box-shadow: 0px 0px 14px 10px rgba(0,0,0,0.57);
}

.strategiButton .buttonText:hover {
    background-color: #fff;
    color: #FF6A11;
}

.setupButton .buttonText:hover {
    background-color: #fff;
    color: #0C0DAD;
}

